@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');



* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

body {
  font-family: 'Inconsolata', monospace;
  line-height: 1.4;
  background-color: #000000;
}

a {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
  overflow: hidden;
}

.text-center {
  text-align:center;
}

.text-primary {
  color: #ffffff;
}

.bg-light {
  background: #f4f4f4;
  color: rgb(0, 0, 0);
}

.bg-dark {
  background: rgb(0, 0, 0);
  color: #fff;
}

.bg-primary {
  background: #93cb52;
  color: #fff;
}

.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
}

.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  line-height: 1.1;
  color:#ffffff
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  color:#fff
}

.py-1 { padding: 1.5rem 0; }
.py-2 { padding: 2rem 0; }
.py-3 { padding: 3rem 0; }

.p-1 { padding: 1.5rem; }
.p-2 { padding: 2rem; }
.p-3 { padding: 3rem; }s

.btn {
  display: inline-block;
  color: #000000;
  background-color: black;
  background: black;
  padding: 0.5rem 2rem;
  border: solid;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  background: #3f403e;
  cursor:pointer;
}

.btn-dark {
  background: #000000;
  color: #ffffff;
  cursor:pointer;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
  border-bottom: rgb(0, 0, 0) dotted 1px;
}

/* Navbar */
#navbar {
  display: flex;
  position: sticky;
  top:0;
  background: rgb(0, 0, 0);
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

#navbar ul li a:hover {
  background: #3f403e;
  border-radius: 5px;
}

/* Showcase */
#showcase {
  background: rgb(0, 0, 0) url('../img/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;
  
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  /* Overlay */
  position: absolute;
  top: 65px;
  left:0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
}


/* Section: Events */

.events {
  background: #000000;
  padding: 60px 0px;
}

.event-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  outline:white;
  }
  .event-list > li {
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 5px rgb(255, 255, 255);
  box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 0px;
  margin: 0px 0px 20px;
  }
  .event-list > li > time {
  display: inline-block;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  }
  .event-list > li:nth-child(even) > time {
  background-color: rgb(0, 0, 0);
  }
  .event-list > li > time > span {
  display: none;
  }
  .event-list > li > time > .day {
  display: block;
  font-size: 56pt;
  font-weight: 100;
  line-height: 1;
  }
  .event-list > li time > .month {
  display: block;
  font-size: 24pt;
  font-weight: 900;
  line-height: 1;
  }
  .event-list > li > img {
  width: 100%;
  }
  .event-list > li > .info {
  padding-top: 5px;
  text-align: center;
  }
  .event-list > li > .info > .title {
  font-size: 17pt;
  font-weight: 700;
  margin: 0px;
  }
  .event-list > li > .info > .desc {
  font-size: 13pt;
  font-weight: 300;
  margin: 0px;
  }
  .event-list > li > .info > ul,
  .event-list > li > .social > ul {
  display: table;
  list-style: none;
  margin: 10px 0px 0px;
  padding: 0px;
  width: 100%;
  text-align: center;
  }
  .event-list > li > .social > ul {
  margin: 0px;
  }
  .event-list > li > .info > ul > li,
  .event-list > li > .social > ul > li {
  display: table-cell;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 11pt;
  font-weight: 300;
      padding: 3px 0px;
  }
  .event-list > li > .info > ul > li > a {
  display: block;
  width: 100%;
  color: rgb(255, 255, 255);
  text-decoration: none;
  }
  .event-list > li > .social > ul > li {
      padding: 0px;
  }
  .event-list > li > .social > ul > li > a {
      padding: 3px 0px;
  }
  .event-list > li > .info > ul > li:hover,
  .event-list > li > .social > ul > li:hover {
  color: rgb(30, 30, 30);
  background-color: #3f403e
  }
  @media (min-width: 768px) {
  .event-list > li {
    position: relative;
    display: block;
    width: 100%;
    height: 120px;
    padding: 0px;
  }
  .event-list > li > time,
  .event-list > li > img  {
    display: inline-block;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    float: left;
  }
  .event-list > li > .info {
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  .event-list > li > time,
  .event-list > li > img {
    width: 120px;
    height: 120px;
    padding: 0px;
    margin: 0px;
  }
  .event-list > li > .info {
    position: relative;
    height: 120px;
    text-align: left;
    padding-right: 40px;
  }
  .event-list > li > .info > .title,
  .event-list > li > .info > .desc {
    padding: 0px 10px;
  }
  .event-list > li > .info > ul {
    position: absolute;
    left: 0px;
    bottom: 0px;
  }
  #ra-logo {
    width:20%;
    color:white;
  }


/* Section: About */
#about {
  display: flex;
}

#about div {
  flex: 1;
}

#about .about-img {
  background: url('../img/full_image_1.jpg') no-repeat center center/cover;
}

/* Section: Gallery */

.container
{
	width: 100%;
	height: 100%;
}
.trans
{
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.top
{
	display: flex;
	width: 80vw;
	height: 80vh;
	margin-top: 10vh;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10vh;
}
.top ul
{
	list-style: none;
	width: 100%;
	height: 100%;
	z-index: 1;
	box-sizing: border-box;
}
.top ul li
{
	position: relative;
	float: left;
	width: 25%;
	height: 25%;
	overflow: hidden;
}

.top ul li::before
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	content: '';
	color: white;
	opacity: 0.4;
	text-align: center;
	box-sizing: border-box;
	pointer-events: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
}
.top ul li:hover::before
{
	opacity: 0;
	background-color: rgba(0,0,0,0.90);
}
.top ul li img
{
	width: 100%;
	height: auto;
	overflow: hidden;
}
.lightbox
{
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,0.75);
	z-index: 999;
	opacity: 0;
	pointer-events: none;
}
.lightbox img
{
	max-width: 90%;
	max-height: 80%;
	position: relative;
	top: -100%;
	/* Transition */
	transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	-webkit-transition: all 1s ease;
}
.lightbox:target
{
	outline: none;
	top: 0;
	opacity: 1;
	pointer-events: auto;
	transition: all 1.2s ease;
	-moz-transition: all 1.2s ease;
	-ms-transition: all 1.2s ease;
	-o-transition: all 1.2s ease;
	-webkit-transition: all 1.2s ease;
}
.lightbox:target img
{
	top: 0;
	top: 50%;
	transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

/* Section: Contact */
#contact {
  display: flex;
}

#contact .map, #contact .contact-form {
  flex: 1;
}

#contact .contact-form .form-group {
  margin: 0.75rem;
}

#contact .contact-form label {
  display: block;
}

#contact .contact-form input,
#contact .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
}

  }